name: Rust

on:
  push:
    branches:
      - main
    tags:
      - '*v*'

jobs:
  build-win:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Install latest rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          default: true
          override: true

      - name: Build
        run: cargo build --all --release

      - name: Install 7zip
        run: choco install 7zip

      - name: Zip executable
        run: |
          cd target/release
          7z a -mx9 RedAlt-Steam-Update-Installer.zip RedAlt-Steam-Update-Installer.exe

      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: target/release/RedAlt-Steam-Update-Installer.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  build-linux:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Install latest rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          default: true
          override: true

      - name: Build
        run: cargo build --all --release && strip target/release/RedAlt-Steam-Update-Installer && mv target/release/RedAlt-Steam-Update-Installer target/release/RedAlt-Steam-Update-Installer_amd64

      - name: Zip executable
        run: |
          cd target/release
          zip -9 RedAlt-Steam-Update-Installer_amd64.zip RedAlt-Steam-Update-Installer_amd64

      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: target/release/RedAlt-Steam-Update-Installer_amd64.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  build-mac:
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Install latest rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: x86_64-apple-darwin
          default: true
          override: true

      - name: Build for mac
        run: cargo build --all --release && strip target/release/RedAlt-Steam-Update-Installer && mv target/release/RedAlt-Steam-Update-Installer target/release/RedAlt-Steam-Update-Installer_darwin

      - name: Zip executable
        run: |
          cd target/release
          zip -9 RedAlt-Steam-Update-Installer_darwin.zip RedAlt-Steam-Update-Installer_darwin

      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: target/release/RedAlt-Steam-Update-Installer_darwin.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
